<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body text-center">
                                        <p class="mb-3">
                                            <strong style="font-size: 18px;">Get in Touch</strong>
                                        </p>
                                        <p class="mb-4">
                                            Would love to connect, if my profile fits for an any current or upcoming roles.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <p class="mb-1">
                                                        <i class="fa fa-phone" style="font-size: 24px; color: #00a6ff;"></i>
                                                    </p>
                                                    <p class="mb-0">
                                                        <strong>Phone</strong>
                                                    </p>
                                                    <p class="text-muted">+91 6380098218</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <p class="mb-1">
                                                        <i class="fa fa-envelope" style="font-size: 24px; color: #00a6ff;"></i>
                                                    </p>
                                                    <p class="mb-0">
                                                        <strong>Email</strong>
                                                    </p>
                                                    <p class="text-muted">rayalax23@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
