<div class="section" id="experience">
  <div class="container">
    <div class="h4 text-center mb-4 title">Experience</div>
    <div class="row">
      <div class="col-md-6" data-aos="fade-up">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Associate Software Engineer</h5>
            <p class="card-text text-muted">Mphasis | 2023 April to Present</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-check text-primary"></i> Designed and developed Python backend components for a large-scale /trading system.</li>
              <li><i class="fa fa-check text-primary"></i> Implemented business logic for scheduled batch jobs executed via Control-M and cron.</li>
              <li><i class="fa fa-check text-primary"></i> Worked on end-to-end development lifecycle including development, deployment, production monitoring, and issue resolution.</li>
              <li><i class="fa fa-check text-primary"></i> Analyzed and fixed production issues, ensuring system stability and SLA compliance.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Key Achievements</h5>
            <p class="card-text text-muted">Highlights</p>
            <ul class="list-unstyled">
              <li style="margin-bottom: 15px;"><i class="fa fa-check text-primary"></i> Actively involved in production monitoring, log analysis, and root cause analysis.</li>
              <li style="margin-bottom: 15px;"><i class="fa fa-check text-primary"></i> Consistent Performer – Sept 2024 </li>
              <li style="margin-bottom: 15px;"><i class="fa fa-check text-primary"></i> Best Team Player – June 2025 </li>
              <li style="margin-bottom: 15px;"><i class="fa fa-check text-primary"></i> Best Contributer in production monitoring – Nov 2025 </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>